@layer reset, tokens, base, components, utilities;

@font-face {
   font-family: 'Overpass';
   src: url('./assets/fonts/Overpass-SemiBold.ttf');
   font-weight: 600;
}
@font-face {
   font-family: 'Overpass';
   src: url('./assets/fonts/Overpass-Light.ttf');
   font-weight: 300;
}
@font-face {
   font-family: 'Ubuntu';
   src: url('./assets/fonts/Ubuntu-Bold.ttf');
   font-weight: 700;
}
@font-face {
   font-family: 'Ubuntu';
   src: url('./assets/fonts/Ubuntu-Regular.ttf');
   font-weight: 400;
}

@layer reset {
   *,
   *::before,
   *::after {
      box-sizing: border-box;
   }

   html {
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
   }

   body,
   h1,
   h2,
   h3,
   h4,
   p,
   figure,
   blockquote,
   dl,
   dd {
      margin: 0;
   }

   [role='list'] {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   body {
      min-block-size: 100vh;
      line-height: 1.6;
   }

   h1,
   h2,
   h3,
   h4 {
      text-wrap: balance;
   }

   p,
   li {
      text-wrap: pretty;
   }

   img,
   picture {
      max-inline-size: 100%;
      display: block;
   }

   input,
   button,
   textarea,
   select {
      font: inherit;
   }
}

@layer tokens {
   :root {
      /* COLORS */
      --black: hsl(0 0% 0%);
      --white: hsl(0 100% 100%);
      --gray-950: hsl(240 10% 16%);
      --gray-600: hsl(207 13% 34%);
      --gray-550: hsl(207 5% 55%);
      --gray-100: hsl(0 0% 91%);
      --purple-950: hsl(237 17% 21%);
      --purple-900: hsl(237 23% 31%);
      --purple-800: hsl(240 15% 38%);
      --red-500: hsl(356 100% 66%);
      --red-400: hsl(355 100% 74%);
      --red-50: hsl(0 20% 97%);
      --blue-900: hsl(208 49% 24%);
      --gradient-1: linear-gradient(
         to left,
         hsl(237 17% 21%),
         hsl(237 23% 32%)
      );
      --gradient-2: linear-gradient(
         to bottom,
         hsl(13 100% 72%),
         hsl(353 100% 62%)
      );
      --gradient-mobile-menu: linear-gradient(
         to right,
         hsl(13 100% 72%),
         hsl(353 100% 62%)
      );

      --header-gradient: var(--gradient-2);
      --section-gradient: var(--gradient-1);
      --section-bg-clr: var(--purple-950);
      --text-clr-heading-secondary: var(--white);
      --text-clr-heading-primary: var(--blue-900);
      --text-clr-primary: var(--gray-950);
      --text-clr-secondary: var(--gray-100);
      --btn-clr-accent-hover: var(--red-400);
      --btn-clr-accent: var(--red-500);

      /* TYPOGRAPHY */
      /* font size */
      --fs-64: 4rem;
      --fs-40: 2.5rem;
      --fs-28: 1.75rem;
      --fs-20: 1.25rem;
      --fs-16: 1rem;

      /* line height */
      --lh-200: 200%;
      --lh-175: 175%;
      --lh-125: 125%;
      --lh-115: 115%;
      --lh-100: 100%;

      /* letter spacing */
      --ls-0: 0px;
      --ls-06: 0.6px;
      --ls-12: -1.2px;
      --ls-2: -2px;

      /* font family */
      --ff-primary: 'Overpass', sans-serif;
      --ff-secondary: 'Ubuntu', sans-serif;

      /* 
         SPACING REFERENCE ONLY
         spacing-0: 0rem;
         spacing-8: 0.5rem;
         spacing-16: 1rem;
         spacing-24: 1.5rem;
         spacing-32: 2rem;
         spacing-40: 2.5rem;
         spacing-48: 3rem;
         spacing-56: 3.5rem;
         spacing-64: 4rem;
         spacing-72: 4.5rem;
         spacing-80: 5rem;
      */
   }
}

@layer base {
   body {
      font-family: var(--ff-primary);
      overflow-x: hidden;
   }

   header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 4rem 1.5rem 5rem 1.5rem;
   }

   .logo {
      width: auto;
      height: auto;
   }

   .intro__container {
      background-image: url('./assets/images/backgrounds/bg-pattern-intro-mobile.svg'),
         var(--header-gradient);
      background-position: 37% 39%;
      background-size: 430%;
      background-repeat: no-repeat;
      padding-bottom: 5rem;
      border-radius: 0 0 0 7rem;
   }

   .intro {
      padding-inline: 1rem;
   }

   .intro p {
      font-size: var(--fs-20);
      font-weight: 300;
      line-height: var(--lh-125);
      letter-spacing: var(--ls-0);
      color: var(--text-clr-heading-secondary);
      text-align: center;
      padding-bottom: 2rem;
   }

   h1 {
      font-size: var(--fs-40);
      font-weight: 600;
      line-height: var(--lh-125);
      letter-spacing: var(--ls-12);
      color: var(--text-clr-heading-secondary);
      text-align: center;
      padding-bottom: 2rem;
   }

   .features {
      padding-inline: 1.5rem;
   }

   .features img {
      padding-bottom: 3rem;
      margin: auto;
      scale: 1.2;
   }

   .features h2 {
      font-size: var(--fs-28);
      font-weight: 600;
      line-height: var(--lh-100);
      letter-spacing: var(--ls-0);
      color: var(--text-clr-heading-primary);
      text-align: center;
      padding: 6rem 0;
   }

   h3 {
      font-size: var(--fs-28);
      font-weight: 600;
      line-height: var(--lh-100);
      letter-spacing: var(--ls-0);
      color: var(--text-clr-heading-primary);
      text-align: center;
      padding: 1.5rem 0;
   }

   .features p {
      font-size: var(--fs-16);
      font-weight: 300;
      line-height: var(--lh-175);
      letter-spacing: var(--ls-06);
      color: var(--gray-600);
      text-align: center;
      padding-bottom: 3rem;
   }

   .infrastructure {
      position: relative;
      padding-top: 13rem;
      padding-bottom: 8rem;
   }

   .infrastructure img {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      max-width: none;
   }

   .infrastructure__bg-container {
      background-image: url('./assets/images/backgrounds/bg-pattern-circles.svg');
      background-size: 625px 625px;
      background-color: var(--section-bg-clr);
      background-repeat: no-repeat;
      background-position: center -250px;
      border-radius: 0 7rem 0 7rem;
      padding-inline: 1.5rem;
      padding-bottom: 5rem;
   }

   .infrastructure__bg-container h2 {
      font-size: var(--fs-40);
      color: var(--text-clr-heading-secondary);
      text-align: center;
      padding-top: 13rem;
      padding-bottom: 2rem;
   }

   .infrastructure__bg-container p {
      font-size: var(--fs-16);
      font-weight: 300;
      line-height: var(--lh-175);
      letter-spacing: var(--ls-06);
      color: var(--text-clr-secondary);
      text-align: center;
   }

   .features__bottom {
      padding-inline: 1.5rem;
      text-align: center;
      padding-bottom: 5rem;
   }

   .features__bottom p {
      font-size: var(--fs-16);
      font-weight: 300;
      line-height: var(--lh-175);
      letter-spacing: var(--ls-06);
      color: var(--gray-600);
      text-align: center;
   }

   .features__bottom-img {
      scale: 1.5;
      padding-bottom: 4rem;
   }

   .features__bottom img {
      margin: auto;
   }

   .features__bottom-content p:nth-child(2) {
      padding-bottom: 2rem;
   }

   footer {
      display: grid;
      gap: 4rem;
      justify-content: center;
      background-color: var(--text-clr-primary);
      padding-bottom: 1rem;
      border-radius: 0 7rem 0 0;
   }
   footer img {
      padding-top: 4rem;
   }

   footer ul {
      list-style: none;
      padding: 0;
   }

   footer a {
      font-family: var(--ff-secondary);
      font-size: var(--fs-16);
      font-weight: 400;
      line-height: var(--lh-200);
      letter-spacing: var(--ls-0);
      text-decoration: none;
      color: var(--text-clr-secondary);
   }

   h4 {
      font-family: var(--ff-secondary);
      font-size: var(--fs-16);
      font-weight: 700;
      line-height: var(--lh-115);
      letter-spacing: var(--ls-0);
      color: var(--text-clr-heading-secondary);
   }

   .footer__nav-group {
      display: grid;
      text-align: center;
      gap: 1rem;
      padding-bottom: 2rem;
   }
}

@layer components {
   .nav__toggle {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
   }

   header nav {
      position: absolute;
      top: 150px;
      left: 1.5rem;
      right: 1.5rem;
      background: var(--white);
      border-radius: 0.5rem;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      padding: 2rem;
      text-align: center;

      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 2rem;
   }

   header nav a {
      text-decoration: none;
      color: var(--text-clr-heading-primary);
   }

   header nav .nav__item {
      width: 100%;
   }

   header nav .nav__item > ul {
      display: none;
      list-style: none;
      margin: 1rem 0 0;
      padding: 1.25rem 0;
      width: 100%;
      background: var(--gray-100);
      border-radius: 0.5rem;
   }

   .nav__trigger {
      border: none;
      background: none;
      font-family: var(--ff-secondary);
      font-weight: 700;
      line-height: var(--lh-115);
      letter-spacing: var(--ls-0);
      color: var(--section-bg-clr);

      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
   }

   .intro__btn-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding-bottom: 5rem;
   }

   .intro__btn {
      font-family: var(--ff-secondary);
      font-size: var(--fs-16);
      font-weight: 700;
      line-height: var(--lh-115);
      letter-spacing: var(--ls-0);
      border-radius: 2.5rem;
      background: none;
      cursor: pointer;
   }

   .start__free {
      padding: 1rem 1rem;
      background-color: var(--white);
      border: none;
      color: var(--btn-clr-accent);
   }

   .start__free:hover {
      background-color: var(--btn-clr-accent-hover);
      color: var(--white);
   }

   .learn {
      padding: 1rem 1.5rem;
      background-color: transparent;
      border: 1px solid var(--text-clr-heading-secondary);
      color: var(--text-clr-heading-secondary);
   }

   .learn:hover {
      background-color: var(--white);
      color: var(--btn-clr-accent);
   }
}

@layer utilities {
   .hidden {
      display: none;
   }

   .attribution {
      font-size: 11px;
      text-align: center;
      padding: 3rem 0;
   }
   .attribution a {
      color: hsl(228, 45%, 44%);
   }
}

@media (min-width: 750px) {
   h1 {
      font-size: var(--fs-64);
      font-weight: 600;
      line-height: var(--lh-100);
      letter-spacing: var(--ls-2);
   }

   .features h2 {
      font-size: var(--fs-40);
      font-weight: 600;
      line-height: var(--lh-125);
      letter-spacing: var(--ls-12);
      padding-top: 4rem;
      padding-bottom: 0;
   }

   .features img {
      display: block;
      margin: auto;
      width: 90vw;
      max-width: 1020px;
      padding-top: 4rem;
   }

   .feature__content {
      max-width: 550px;
      margin: auto;
   }

   .infrastructure__bg-container {
      padding: 4rem;
   }

   .infrastructure__bg-container p {
      margin: auto;
      max-width: 550px;
   }

   .features__bottom-img {
      padding: 2rem 0;
   }

   .features__bottom img {
      display: block;
      margin: auto;
      width: 90vw;
      max-width: 1020px;
      padding-bottom: 4rem;
   }

   .features__bottom-content {
      max-width: 550px;
      margin: auto;
   }

   footer {
      grid-template-columns: 1fr 3fr;
      padding-top: 4rem;
      padding-inline: 1.5rem;
   }

   .grid__logo {
      padding: 0;
   }

   footer img {
      height: fit-content;
   }

   footer nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
   }

   .footer__nav-group {
      text-align: left;
      grid-template-rows: subgrid;
      grid-row: span 2;
   }
}

@media (max-width: 1023px) {
   header nav .nav__item.is-open > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   header nav .nav__item.is-open > .nav__trigger {
      color: var(--text-clr-heading-primary);
   }

   header nav .nav__trigger {
      width: 100%;
      justify-content: center;
   }

   header nav .nav__trigger img {
      transition: transform 150ms ease;
   }

   header nav .nav__item.is-open .nav__arrow-mobile,
   header nav .nav__item.is-open .nav__arrow-desktop {
      transform: rotate(180deg);
   }

   header nav .nav__auth {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--gray-100);
      font-family: var(--ff-secondary);
   }

   header nav .nav__auth a:first-child {
      font-weight: 700;
   }

   header nav .nav__auth a:last-child {
      padding: 1rem 3rem;
      background: var(--gradient-mobile-menu);
      border: none;
      color: var(--white);
      border-radius: 2.5rem;
      text-decoration: none;
      font-weight: 700;
      width: fit-content;
      margin: auto;
   }
}

@media (min-width: 1024px) {
   header nav.hidden {
      display: flex;
   }
   .nav__toggle {
      display: none;
   }

   .intro__container {
      background-image: url('./assets/images/backgrounds/bg-pattern-intro-desktop.svg'),
         var(--header-gradient);
      background-position: 22% 51%;
      background-size: 190%;
      background-repeat: no-repeat;
   }

   header {
      align-items: center;
      padding-inline: 7rem;
   }

   header nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-grow: 1;
      margin-left: 3rem;
      font-family: var(--ff-secondary);
      font-size: var(--fs-16);
      font-weight: 700;
      line-height: var(--lh-115);
      letter-spacing: var(--ls-0);

      position: static;
      top: auto;
      left: auto;
      right: auto;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      text-align: left;
   }

   header nav .nav__item {
      position: relative;
      width: auto;
   }

   header nav .nav__item > ul {
      position: absolute;
      top: 25px;
      left: -25px;
      width: auto;
      background: var(--white);
      padding: 1.5rem 2.5rem 1.5rem 1.5rem;
      row-gap: 1rem;
   }

   header nav .nav__item.is-open > ul {
      display: grid;
      font-weight: 400;
   }

   header nav .nav__item.is-open > ul li:hover {
      font-weight: 700;
   }

   .nav__trigger {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: none;
      border: none;
      color: var(--white);
      cursor: pointer;
   }

   .nav__trigger img {
      height: fit-content;
   }

   .nav__auth {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1.5rem;
   }

   .nav__auth a:first-child {
      color: var(--gray-100);
      text-decoration: none;
   }

   .nav__auth a:last-child {
      padding: 1rem 2.5rem;
      background-color: var(--white);
      border: none;
      color: var(--btn-clr-accent);
      border-radius: 2.5rem;
      text-decoration: none;
   }

   .intro p {
      text-align: center;
   }

   .features {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
   }

   .features h2 {
      grid-column: 1/-1;
      padding-bottom: 3rem;
      padding-top: 9rem;
   }

   .features h2 .feature__content {
      max-width: 600px;
   }

   .feature__content h3,
   p {
      text-align: left;
   }

   .features picture {
      position: absolute;
      scale: 0.7;
      top: -180px;
      right: -340px;
      padding-top: 7rem;
   }

   .infrastructure {
      position: relative;
      padding-top: 13rem;
      padding-bottom: 8rem;
   }

   .infrastructure img {
      position: absolute;
      top: 200px;
      left: 350px;
      scale: 1.2;
   }

   .infrastructure__bg-container {
      background-image: url('./assets/images/backgrounds/bg-pattern-circles.svg');
      background-size: 750px 750px;
      background-color: var(--section-bg-clr);
      background-repeat: no-repeat;
      background-position: -158px -340px;
      border-radius: 0 7rem 0 7rem;
      padding-inline: 1.5rem;
      min-height: 360px;

      padding-left: 33rem;

      display: grid;
      grid-template-columns: 1fr;
   }

   .infrastructure__bg-container h2 {
      padding-top: 0;
      padding-bottom: 0;
   }

   .features__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .features__bottom-img {
      scale: 1;
      margin-left: -320px;
   }

   .features__bottom-content h3 {
      text-align: left;
   }
}
